{% extends "base.html" %}
{% block content %}

Parameters:<br>
    --input: <br>
    --output:<br>

{% endblock %}
{#{% block content %}#}
{##}
{#    <form method=post enctype=multipart/form-data>#}
{#         {{ form.hidden_tag() }}#}
{#        <p>#}
{#            {{ form.archive() }}<br>#}
{#        </p>#}
{##}
{#        <p> {{ form.select }}</p>#}
{##}
{#        <p>{{ form.submit() }}</p>#}
{##}
{#    </form>#}
{##}
{#{% if success %}#}
{#    <br>#}
{#    <p>Upload Success!</p>#}
{#    {% endif %}#}
{##}
{#{% endblock %}#}