
{% extends "base.html" %}
{% block content %}
    {% for data in files_list %}
    - {{ data }}
        {%  if dict_status[data] == "no" %}
        <a href="{{ url_for('train_model', filename=data) }}">run</a><br>
        {% elif dict_status[data] == "started" %}
            <font color="red">running </font><br>
        {%  elif dict_status[data] == "queued" %}
            <font color="red">waiting</font> <br>
        {%  elif dict_status[data] == "finished" %}
            <a href="{{ url_for('download', filename=data) }}">download</a><br>
        {% else %}
           <font color="red"> {{ dict_status[data] }} </font><br>
        {% endif %}
    {% endfor %}
{% endblock %}