{% extends "base.html" %}

{% block content %}

    <form method=post enctype=multipart/form-data>
    {{ form.hidden_tag() }}
        {{ form.select_engine()}} {{ form.submit() }}<br>
    </form>
    <p/>
    <p/>
    Model Chosen: {{ engine }}
    <table border=0>
        <tr>
               <th  align="left" width="150"> Parameter </th>
               <th  align="left" width="150"> SubParameter </th>
               <th  align="left" width="150"> Type </th>
               <th  align="left" width="150"> Default </th>
               <th  align="left" width="150"> Description</th>
        </tr>
         {% for info in help_info %}
            <tr>
                {%  if ("model" == info[0]) %}
                    <td> <a href="{{ url_for('get_model_info', engine_name=engine)}}"> model </a> </td>
                {% else %}
                    <td> {{ info[0] }} </td>
                {% endif %}
                <td> {{ info[1] }}</td>
                <td> {{ info[2] }}</td>
                <td> {{ info[3] }}</td>
                <td> {{ info[4] }}</td>
            </tr>
         {% endfor %}
      </table>


{% endblock %}